@model Appointment
@{
    ViewData["Title"] = "Görüş Məlumatları";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Görüş</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.FullName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Redaktə Et</a>
    <a asp-action="Index" class="btn btn-secondary">Geri Qayıt</a>
</div>